[Desktop Entry]
Version=1.0
Type=Application
Name=StereoTool
Comment=
Exec=/home/rd/imports/APPS/stereo_tool_gui_jack_64_1030
Icon=audio-subwoofer-testing
Path=
Terminal=false
StartupNotify=false
